@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

:root {
    --board-border: 5px solid rgba(255, 255, 255, 0.1);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    background-image: linear-gradient(#160323, #370961);
    background-attachment: fixed;
    text-align: center;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    color: white;
    height: 100%;
}

h1 {
    font-family: 'Trade Winds', Helvetica, sans-serif;
    color: rgb(255 225 0);
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background: #ffe200;
}

#game {
    padding: 4% 0 35px;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    background-position: center;
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

header {
    margin-bottom: 35px;
}

#msg {
    font-size: 18px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(3, 32%);
    margin: auto;
    margin-bottom: 35px;
    max-width: 500px;
    min-height: 500px;
    grid-gap: 2%;
}

.square {
    border: 0;
    border-radius: 0;
    font-size: 100px;
}

.square:focus {
    outline: 0;
}

.square:nth-of-type(1),
.square:nth-of-type(2),
.square:nth-of-type(3) {
    border-bottom: var(--board-border);
}

.square:nth-of-type(7),
.square:nth-of-type(8),
.square:nth-of-type(9) {
    border-top: var(--board-border);
}

.square:nth-of-type(1),
.square:nth-of-type(4),
.square:nth-of-type(7) {
    border-right: var(--board-border);
}

.square:nth-of-type(3),
.square:nth-of-type(6),
.square:nth-of-type(9) {
    border-left: var(--board-border);
}