* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin: 0 auto;
    max-width: 300px;
    margin-bottom: 25px;
}

.square {
    border: 1px solid black;
    height: 100px;
}